{% macro icon(name, url_for, icons, cls="") -%}
<svg class="icon{% if cls %} {{ cls }}{% endif %}" width="16" height="16" aria-hidden="true" focusable="false"><use href="{{ url_for('static/' ~ icons.sprite) }}#{{ name }}"></use></svg>
{%- endmacro %}
